body {
    padding: 5;
    margin: 5;

}

/* navigation bar css properties */


#my-canvas {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.3);

}

h2 {
    font-family: 'Original Surfer', cursive;
    padding: 20px 0;
    text-align: center;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: 'New Tegomin', 'sans-serif';
    text-align: center;
    margin: 0 20px;

}




